//- index.pug
doctype html
html
  head
    title Palak Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar.top 
      ul
        #logo 
          img(src="/static/imgd/lg.jpg")
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]

    section#introSection
      div Welcome to Aisha Dance Academy
      div.small Live Love Learn Dance 

    section#missionSection 
      h1 Our Mission
      div.card 
        h3 Dance Perfection
        div.card-box 
          div.card-img 
            img(src="/static/imgd/d1.png")
          div.card-content
            p This is the best dance academy of the universe 
      div.card 
        h3 Dance the way you like
        div.card-box 
          div.card-img 
            img(src="/static/imgd/d4.png")
          div.card-content
            p This is the best dance academy of the universe 
      div.card 
        h3 Expert Teaching
        div.card-box 
          div.card-img 
            img(src="/static/imgd/d3.png")
          div.card-content
            p This is the best dance academy of the universe 

    section#sponsorSection 
      h1 Our Sponsors
      div#sponsors
        img(src="/static/imgd/s1.jpg", alt="Sponsor Image", class="spImage")
        img(src="/static/imgd/s2.jpg", alt="Sponsor Image", class="spImage")
        img(src="/static/imgd/s3.png", alt="Sponsor Image", class="spImage")
        img(src="/static/imgd/s4.jpg", alt="Sponsor Image", class="spImage")
        img(src="/static/imgd/lg5.jpg", alt="Sponsor Image", class="spImage")
    
    footer#footer 
      | Copyright © 2022AishaDanceAcademy.com | All Rights Reserved
    
    script
      include ../static/index.js
